<div id="_re_layout_footer" class="re_footer" style="transform:none!important;overflow:visible!important;">
    <div>
        <img src="~/assets/icones/icon-pessoa.svg" />
        <label style="color:white;">|</label>
        <label>Impacto</label>
        <label>-</label>
        <label>Plataforma de Serviços Lupeon</label>
    </div>
</div>

