<div class="re_header" id="_re_layout_sidebar_to">
    <div class="LP_Sidebar_Top_Main_Items">
@*         <a href="/Home" class="text-decoration-none" title="Icon-only" data-bs-toggle="tooltip"
           data-bs-placement="right">
            <img src="~/assets/img/Impacto.jpeg" />
        </a> *@

        <div class="LP_Sidebar_Main_header_ul">
            <ul class="" style="margin: 0; padding: 0;">

            </ul>
            <div class="font-tamanho-sm LP_Sidebar_Main_perfil_nome">
                @* <b class="font-cor-azul">Teste</b> *@
                @* <p style="margin: 0;" class="font-cor-ceu">Tecnologia</p> *@
            </div>

        </div>
    </div>
</div>