
/*Váriaveis com todas as cores da identidade visual*/




/*:root {*/
    /* Identidade visual */

    /*--white: #FFFFFF;
    --azul-primary: #0A2C5B;
    --azul-secundary: #126CFB;
    --azul-complementary: #5CC4FF;
    --azul-complementary_: rgba(19, 108, 251, 0.2);
    --azul-info: #0D45F6;
    --success: #00FFC4;
    --azul-info: #0D45F6;
    --warning: #FFC94D;
    --danger: #F43831;
    --danger-background: #e7a3a0;*/
    /* Cores padrão para textos, descrições, backgrounds */

    /*--gray-1: #e1e1e6;
    --gray-2: #F4F4F4;
    --gray-3: rgba(130, 130, 130, 0.5);
    --gray-4: #DCDCE0;
    --gray-5: #e9eaed;
    --gray-desc: #8c8c8f;
    --gray-fundo: #e3e4e8;
    --gray-grafic: #C4C4C4;
    --gray-info: #515251;
    --gray-text: #A6A6A6;
    --gray-background: #E5E5E5;
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
    --black_desc: #413f3e;
    --black_status: #303030;
    --red_status: #de3a37;
}*/



.font-tamanho-sm {
    font-size: 10px;
}



label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500 bold;
    color: #444;
}

span, p {
    font-family: 'Roboto', sans-serif;
    color: #000;
}



