
-------------------------------------------------------------------------------------------------------
    Elementos padroes 
-------------------------------------------------------------------------------------------------------
*/

/*label {
    color: #000;
    font-weight: bold;
    font-size:12px;
}*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #333;
    margin-bottom: 8px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size:15px;
    color: #333;
    margin-bottom: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    width: 100%;
    height: 100%;
    /* margin-left: -2rem;
    margin-top: -0.5rem; */
    /* padding: 1rem 1rem 1.8rem 5rem; */
    background-image: url('/assets/img/Impacto.jpeg');
    background-position: right;
    background-size: 25%;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500 bold;
    color: #444;
    
}

span, p {
    font-family: 'Roboto', sans-serif;
    color: #000;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*
-------------------------------------------------------------------------------------------------------
    Elementos Personalizados 
-------------------------------------------------------------------------------------------------------
*/

.borda {
    border: 1px solid gray;
    padding: 5px 0% 0 0%;
    width: 100%;
    position: relative; 
    z-index: 10;
    padding: 5px 0 0 0;
}



/*.sidebar {
    width: 4.25rem;*/ /* sua largura */
    /*height: 100vh;
    z-index: 2000;
    position: fixed;
    left: 0;
}*/

.app-shell {
    margin-left: 4.5rem; /* igual à sidebar */
    /* se tiver rodapé fixo, ajuste a altura */
}

.Re_Menu_Home {
}


a.Re_Menu_Home:hover {
    color: black;
}

.Re_Menu_Home:hover {
    transition: 0.2s linear;
    transform: scale(1.50,1.50);
    animation: animarbox;
    background-color: cornsilk;
}





#app-frame {
    display: block;
    width: 100%;
    height: calc(100vh - 0px); /* ajuste se tiver cabeçalho/rodapé */
    border: 0;
    position: relative;
    z-index: 1; /* deixe baixo para modal ficar por cima */
}

/* garanta que o modal fica acima do iframe */
#logoutModal {
    z-index: 1000;
    position: fixed;
}
