
/*---------------------------------------------------------------------------------------------------------------------------------------
 TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/


.img-status {
    width: 20px;
    height: 20px;
    object-fit: contain; /* mantém proporção da imagem */
}


.table_corpo1 {
    margin-top: 1%;
    max-width: 100%;
    overflow-y: hidden;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    font-weight: 400;
}

    .table_corpo1 label {
        border-radius: 10px;
        padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    }

    .table_corpo1 button {
        background-color: white;
        border: none;
    }

        .table_corpo1 button:hover {
            opacity: 0.6;
        }

@media screen and (max-width: 768px) {
    .table_corpo1 {
        width: 100%;
        margin-top: 1rem;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1242px) {
    .table_corpo1 {
        margin-top: -0.5rem;
        width: 100%;
        height: 17.5rem;
    }
}



/*---------------------------------------------------------------------------------------------------------------------------------------

------ TABELAS---------------------------------------------------------------------------------------------------------------------------------*/

.border_table {
    width: 95%;
    margin: 0.5rem;
    color: #EBEBEB;
}





/*---------------------------------------------------------------------------------------------------------------------------------------
     TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/

.container_th_linha_table_corpo {
    background-color: white;
    border-radius: 6px;
}





/*---------------------------------------------------------------------------------------------------------------------------------------
 TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/

.fixo {
    position: sticky;
    top: 0rem;
    z-index: 1;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .fixo {
        top: -0.1rem;
    }
}


/*---------------------------------------------------------------------------------------------------------------------------------------
     TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/



.th_linha_table_corpo {
    font-size: 0.7rem;
    text-align: center;
    color: var(--gray-text);
    border-collapse: collapse;
    border-bottom: 1px solid #EBEBEB;
    font-weight: 600;
    padding: 0rem 1rem;
    height: 3rem;
}

@media screen and (max-width: 768px) {
    .th_linha_table_corpo {
        font-size: 0.6rem;
    }
}
/*---------------------------------------------------------------------------------------------------------------------------------------
     TABELAS
----------------------------------------table-----------------------------------------------------------------------------------------------*/



.th_linha_table_corpo_mapa {
    font-size: 0.7rem;
    text-align: center;
    color: var(--gray-text);
    border-collapse: collapse;
    border-bottom: 1px solid #EBEBEB;
    font-weight: 600;
    padding: 0rem 1rem;
    height: 3rem;
}

@media screen and (max-width: 768px) {
    .th_linha_table_corpo_mapa {
        font-size: 0.6rem;
    }
}










/*---------------------------------------------------------------------------------------------------------------------------------------
    TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/

.td_linha_table_corpo {
    font-size: 0.7rem;
    text-align: center;
    height: 2.75rem;
    border-bottom: 1px solid #EBEBEB;
    border-collapse: collapse;
}












/*---------------------------------------------------------------------------------------------------------------------------------------
    TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/


.td_linha_table_corpoBranco {
    font-size: 0.7rem;
    text-align: center;
    height: 1.75rem;
    border-bottom: 0px solid #EBEBEB;
    border-collapse: collapse;
}







/*---------------------------------------------------------------------------------------------------------------------------------------
TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/


.td_linha_table_corpo1 {
    font-size: 0.7rem;
    text-align: center;
    height: 1.75rem;
    border-bottom: 1px solid #EBEBEB;
    border-collapse: collapse;
}







/*---------------------------------------------------------------------------------------------------------------------------------------
TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/



.table_corpo2 {
    margin-top: 1%;
    padding: 0rem 1.2rem 1.2rem 0rem;
    overflow-y: hidden;
    background-color: white;
    width: 100%;
    font-weight: 400;
    border-radius: 8px;
}

    .table_corpo2 label {
        border-radius: 10px;
        padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    }

    .table_corpo2 button {
        background-color: white;
        border: none;
        position: absolute;
    }

        .table_corpo2 button:hover {
            opacity: 0.6;
        }

@media screen and (max-width: 768px) {
    .table_corpo2 {
        width: 100%;
        margin-top: 2rem;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1242px) {
    .table_corpo2 {
        margin-top: -0.5rem;
        width: 100%;
        height: 17.5rem;
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------------
TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/


.table2 {
    padding: 1rem;
    margin: 0 auto;
    border-radius: 6px;
    max-height: 8rem !important;
    border-collapse: collapse;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .table2 {
        width: 100% !important;
        max-width: 300px;
        overflow-x: scroll;
    }

    body {
        width: 100% !important;
    }
}



/*---------------------------------------------------------------------------------------------------------------------------------------
TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/
.table_corpo3 {
    margin-top: 1%;
    padding: 0rem 1.2rem 1.2rem 0rem;
    overflow-y: auto;
    background-color: white;
    width: 100%;
    font-weight: 400;
    border-radius: 8px;
}

    .table_corpo3 label {
        border-radius: 10px;
        padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    }

    .table_corpo3 button {
        background-color: white;
        border: none;
        position: absolute;
    }

        .table_corpo3 button:hover {
            opacity: 0.6;
        }

@media screen and (max-width: 768px) {
    .table_corpo3 {
        width: 100%;
        margin-top: 2rem;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1242px) {
    .table_corpo3 {
        margin-top: -0.5rem;
        width: 100%;
        height: 17.5rem;
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------------
TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/

.container_toltip {
    /*    background-color: white;
    width: 53%;
    height: 500px;
    border-radius: 6px;
    overflow-y: scroll;
    overflow-x: hidden;*/

    background-color: white;
    width: 53%;
    height: calc(100vh - 180px);
    border-radius: 6px;
    overflow-y: auto; /* scroll vertical quando necessário */
    overflow-x: hidden; /* sem scroll horizontal */
    box-sizing: border-box; /* inclui borda e padding no tamanho total */
    border: 1px solid #ccc; /* exemplo de borda (opcional) */
}

@media screen and (max-width: 768px) {
    .container_toltip {
        width: 100%;
    }
}

.toltip {
    text-align: center;
    justify-content: center;
    color: #0e406e;
}
/*---------------------------------------------------------------------------------------------------------------------------------------
TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/



.table {
    background-color: white;
    margin-top: 0.5rem;
    width: 75%;
    height: 15rem;
    border-radius: 6px;
    position: static;
    overflow-y: scroll;
}

@media screen and (max-width: 768px) {
    .table {
        width: 100%;
        margin-top: -0.01rem;
    }
}


/*---------------------------------------------------------------------------------------------------------------------------------------
TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/


.container_map {
    gap: 0.25rem;
    display: flex;
}

@media screen and (max-width: 768px) {
    .container_map {
        flex-direction: column;
    }
}


/*---------------------------------------------------------------------------------------------------------------------------------------
TABELAS
---------------------------------------------------------------------------------------------------------------------------------------*/

.LP_TABLE th {
    text-align: center;
    font-size: 0.7rem;
    padding: 0rem 1rem;
    height: 3rem;
    white-space: nowrap;
    border-bottom: 1px solid #EBEBEB;
    color: var(--gray-text);
    font-weight: 600;
    border-collapse: collapse;
}

.LP_TABLE td {
    text-align: center;
    font-size: 0.676rem;
    height: 2.75rem;
    border-bottom: 1px solid #EBEBEB;
    border-collapse: collapse;
}

